.l-4 {
    height: 38%;
    width: 85%;
    color: #d5e7ea;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.l-4-1 {
    height: 25%;
    padding-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 3vh; */
}

.l-4-2 {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    font-size: 3.5vh;
    text-align: justify;
}

.l-4-3 {
    height: auto;
    /* margin-top: 1vh; */
    text-align: right;
    width: 100%;
    display: visible;
}

.title {
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1vh;
}

.source {
    font-size: 1.3vw;
    font-style: normal;
}

