@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@font-face {
  font-family: "Hafs";
  src: url("hafs.otf");
  font-weight: normal;
}

body {
  margin: 0;
  background-color: #1f4e5f;
  height: 110vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.left {
  width: 56%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.l-1 {
  height: 17%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.l-1-1 {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.moon1 {
  height: 50%;
  bottom: 0;
}

.l-1-2 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.moon2 {
  height: 75%;
  bottom: 0;
}

.l-1-3 {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.moon3 {
  height: 100%;
}
.l-1-4 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.moon4 {
  height: 75%;
  bottom: 0;
}

.l-1-5 {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.moon5 {
  height: 50%;
  bottom: 0;
}

.l-2 {
  height: 10%;
  width: 85%;
  font-size: 2vw;
  line-height: 10vh;
  color: #d5e7ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.l-2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
}

.l-2-3 {
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateNormal,
.dateHicri {
  padding-right: 7px;
}

.monthNormal,
.monthHicri {
  padding: 0 7px;
  font-weight: 800;
}

.yearNormal,
.yearHicri {
  padding-left: 10px;
}

.l-3 {
  height: 20%;
  width: 85%;
  background-color: #d5e7ea;
  border-radius: 50px;
  position: relative;
}

.l-3-timecontainer {
  color: #1f4e5f;
  font-weight: 800;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.seperator {
  position: absolute;
  top: 72%;
  width: 90%;
  left: 5%;
}

.timeLeft {
  position: absolute;
  bottom: 3%;
  width: 85%;
  height: 20%;
  margin-left: 7.5%;
  font-size: 1.5vw;
  color: #1f4e5f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timeLeft-before {
  font-weight: 500;
}

.timeLeft-after {
  font-weight: bold;
}

.timeMiddle {
  position: relative;
  top: -2px;
}

.l-3-1 {
  overflow: hidden;
  width: 47.5%;
}

.l-3-2 {
  margin-top: -1vh;
  width: 5%;
}

.l-3-3 {
  overflow: hidden;
  width: 47.5%;
}

.l-4 {
  height: 38%;
  width: 85%;
  color: #d5e7ea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.l-4-1 {
  height: 25%;
  padding-top: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 3vh; */
}

.l-4-2 {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 3.5vh;
  text-align: justify;
}

.l-4-3 {
  height: auto;
  /* margin-top: 1vh; */
  text-align: right;
  width: 100%;
  display: visible;
}

.title {
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1vh;
}

.source {
  font-size: 1.3vw;
  font-style: normal;
}

.l-6 {
  height: 15%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-6-1,
.l-6-5 {
  color: #3b6773;
}

.l-6-3 {
  color: #d5e7ea;
}

.tri {
  font-size: 2vw;
  width: 10%;
}

.rec {
  width: 35%;
  height: 65%;
  background-color: #d5e7ea;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #1f4e5f;
}

#box1 {
  transition: 0.65s ease;
}

.l6-title {
  font-size: 2vw;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0;
  line-height: 100%;
  justify-content: center;
  font-weight: bold;
}

.l6-description {
  font-size: 1.5vw;
  font-style: italic;
  font-weight: light;
  width: 90%;
  height: 40%;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#importantDate1Day,
#importantDate2Day {
  padding-right: 5px;
}

#importantDate1Month,
#importantDate2Month {
  padding: 0 5px;
}

#importantDate1Year,
#importantDate2Year {
  padding-left: 7px;
}

.right {
  width: 48%;
  height: 100vh;
  background-color: #d5e7ea;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5vw;
  line-height: 7vh;
  position: relative;
  overflow: hidden;
}

.r-text {
  font-weight: bold;
}

.imsak {
  position: absolute;
  width: 37vw;
  top: 2%;
  opacity: 1;
  transition: 0.65s ease;
  /* background-color: red; */
}

.gunes {
  position: absolute;
  width: 37vw;
  top: 19.5%;
  opacity: 1;
  transition: 0.65s ease;
  /* background-color: red; */
}

.ogle {
  position: absolute;
  width: 37vw;
  top: 35%;
  right: 0%;
  opacity: 1;
  transition: 0.65s ease;

  /* background-color: rgb(242, 0, 255); */
}

.ikindi {
  position: absolute;
  opacity: 1;
  width: 37vw;
  bottom: 35%;
  transform: translateY(35%);
  /* background-color: rgb(55, 0, 255); */
  transition: 0.65s ease;
}

.aksam {
  position: absolute;
  width: 37vw;
  bottom: 20%;
  transform: translateY(32%);
  opacity: 1;
  transition: 0.65s ease;

  /* background-color: rgb(138, 138, 138); */
}

.yatsi {
  position: absolute;
  width: 37vw;
  bottom: 2%;
  transform: translateY(17%);
  opacity: 1;
  transition: 0.65s ease;

  /* background-color: red; */
}

.impressum {
  position: absolute;
  height: 10vh;
  bottom: -10vh;
  width: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
  font-size: 2vh;
}

.impressum > p {
  margin: 0;
}
